.page{
  background-color: yellow;
  display: flex;
  justify-content: center;
  margin: 100px;
}

.App{
  padding: 20px;
  width: 400px;
  height: 400px;
  
  background-color: blue;
}

.top{
  display: flex;
}
.profile-photo {
 width: 100px;
 height: 100px;
 border-radius: 50%;
}

.icon {
  width: 100px;
  height: 30px;
}

.icon-heart {
  color: red;
  margin: 10px;
 
}